doctype html
mixin itemNav(title, url)
  li(class='nav-main__item')
    a(href=url class=`nav-main__link`)=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav(class='nav nav-main')
      a(href='/' class='nav-main__logo')='Home'
      ul(class='nav-main__list')
        if user 
          +itemNav('Mój profil', '/profile')  
          +itemNav('Log out', '/profile/logout')  
        else
          +itemNav('Login', '/login')
          +itemNav('Sing up', '/singup')
    block content

    script(src="/javascripts/profile/findSeries.js" type='text/javascript' )
    script(src="/javascripts/profile/SearchTvSeries.js" type='text/javascript' )
    script(src="/javascripts/profile/Element.js" type='text/javascript' )
    script(src="/javascripts/profile/DescriptionTvSeries.js" type='text/javascript' )