doctype html
mixin itemNav(title, url)
  li(class='nav-main__item')
    a(href=url class=`nav-main__link ${path == url ? 'active' : ''}`)=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='nav nav-main')
      a(href='/' class='nav-main__logo')='Home'
      ul(class='nav-main__list')
        +itemNav('Login', '/login')
        +itemNav('Sing up', '/singup')
    block content
