

extends layout

block content
  header(class='header header--dark')
    include components/nav.pug  
  section(class='profile')

    div(class='searchSeries')
      form(class='searchSeries__form')
        input(type='text' name='searchTitle' class='searchSeries__input searchSeries__input--light')
        label
          input(type='submit' value='Find' class='searchSeries__button searchSeries__button--light') 
    div(class='userSeries')



  script(src="/javascripts/bundle/search.bundle.js" )
  script(src="/javascripts/bundle/showFavorites.bundle.js" )


  