

extends layout

block content
  header(class='header header--dark')
    include components/nav.pug  
  section(class='profile')

    div(class='searchSeries')
      form(class='searchSeries__form')
        input(type='text' name='searchTitle' class='searchSeries__input searchSeries__input--light')
        label
          input(type='submit' value='Find' class='searchSeries__button searchSeries__button--light') 
      

    div(class='userSeries')
      h3(class='userSeries__header') Your TV Series
      ul(class='userSeries__title')
        li(class='userSeries__item') How to murder
        li(class='userSeries__item') Gray's anathomy


        
  script(src="/javascripts/main.bundle.js" )


  