extends layout

block content
  header(class='header')
    include components/nav.pug  
  section(class='singup section')
    h1(class='singup__title')= title
    form(method='post' class='login-form form')
      p= text
      p
        label(class='form__label') e-mail 
        input(type='text' name='login' class='form__input')
      p
        label(class='form__label') password 
        input(type='password' name='password' class='form__input')
      p
        input(type='submit' value='log in' class='form__button')
      
   


