@mixin input($width, $height) {
  width: $width;
  height: $height;
  color: $light-color;
  background-color: rgba(0, 0, 0, 0.486);
  border: 2px solid $light-color;
  font-family: $main-font;
  font-size: 1.2rem;
  border-radius: 20px;
  text-align: center;
}

@mixin button($width, $height, $color, $border-color) {
  width: $width;
  height: $height;
  color: $color;
  font-family: $main-font;
  font-size: 1.1rem;
  border: 2px solid $border-color;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

@mixin button-hover {
  transform: scale(1.01) translateY(-10%);
  box-shadow: 0px 3px 5px 1px rgba(128, 128, 128, 0.699);
}

@mixin link {
  text-decoration: none;
  color: $light-color;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
