@mixin link {
  text-decoration: none;
  color: $light-color;
}

.nav-main {

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 5vh 10vw;

  &__logo {
    text-transform: uppercase;
    font-size: 1.2rem;
    @include link
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
  }

  &__item {
    margin-left: 5vw;
  }

  &__link {
    @include link;
  }
}