.main {
  padding: 10vh 0 0 0;
  min-height: 100vh;
  background: url('../../images/header.jpg') no-repeat center;
  background-size: cover;

  &__title {
    color: transparent;
    text-align: center;
    // padding: 0 5vw;
    animation: title 10s infinite;
  }

  .series-container {
    position: absolute;
  }

}

@keyframes title {
  0% {
    text-shadow: none;
  }

  6% {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  }

  8% {
    text-shadow: none;
  }

  10% {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    transform: rotate(4deg);
    transform-origin: left;
  }

  12% {
    text-shadow: none;
  }

  14% {
    text-shadow: rgb(255, 255, 255) 0px 3px 3px;
  }

  16% {
    text-shadow: none;
    transform: rotate(7deg);
    transform-origin: left;
  }

  18% {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  }

  20% {
    text-shadow: rgb(255, 255, 255) 0px 3px 3px;
    transform: rotate(4deg);
  }

  30% {
    transform: rotate(0deg);
  }

  100% {
    text-shadow: rgb(255, 255, 255) 0px 0px 1px;
    transform: rotate(0deg);
  }
}