.login,
.singup {
  padding-top: 15vh;
  min-height: 100vh;
  background: url('../../images/header.jpg') no-repeat center;
  background-size: cover;
  color: $light-color;
  text-align: center;

  &__title {
    font-size: 2rem;
  }

}