.login,
.singup {
  min-height: 100vh;
  background: url('../../images/header.jpg') no-repeat center;
  background-size: cover;
  color: $light-color;
  text-align: center;
  padding-right: 10vw;
  padding-left: 10vw;

  &__title {
    font-size: 2rem;
  }

  p:nth-child(1) {
    color: red;
  }
}
