@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Acme", arial, sans-serif; }

section {
  padding-top: 10vh; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.main {
  padding: 10vh 0 0 0;
  min-height: 100vh;
  background: url("../../images/header.jpg") no-repeat center;
  background-size: cover; }
  .main__title {
    color: transparent;
    text-align: center;
    animation: title 10s infinite; }
  .main .series-container {
    position: absolute; }

@keyframes title {
  0% {
    text-shadow: none; }
  6% {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px; }
  8% {
    text-shadow: none; }
  10% {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    transform: rotate(4deg);
    transform-origin: left; }
  12% {
    text-shadow: none; }
  14% {
    text-shadow: white 0px 3px 3px; }
  16% {
    text-shadow: none;
    transform: rotate(7deg);
    transform-origin: left; }
  18% {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px; }
  20% {
    text-shadow: white 0px 3px 3px;
    transform: rotate(4deg); }
  30% {
    transform: rotate(0deg); }
  100% {
    text-shadow: white 0px 0px 1px;
    transform: rotate(0deg); } }

.searchSeries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10vh 0;
  padding: 0 5vw; }
  .searchSeries__list-result {
    margin-top: 5vh;
    color: #e0dcdc;
    overflow-y: scroll;
    max-height: 45vh;
    cursor: pointer;
    scrollbar-color: rgba(158, 194, 248, 0.534) rgba(0, 0, 0, 0.5);
    scrollbar-width: 7px;
    padding: 0; }
    .searchSeries__list-result::-webkit-scrollbar {
      background-color: transparent;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      width: 7px; }
    .searchSeries__list-result::-webkit-scrollbar-button {
      background-color: rgba(0, 0, 0, 0.5); }
    .searchSeries__list-result::-webkit-scrollbar-thumb {
      background-color: rgba(158, 194, 248, 0.3);
      opacity: 0.3; }
  .searchSeries__list-item {
    margin-bottom: 2vh; }
  .searchSeries .one-tv-series {
    position: absolute;
    margin: 0 5vw;
    padding-top: 10vh;
    top: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .searchSeries .one-tv-series__button {
      width: 60vw;
      height: auto;
      color: #072031;
      font-family: "Acme";
      font-size: 1.1rem;
      border: 2px solid #072031;
      border-radius: 20px;
      background-color: transparent;
      cursor: pointer;
      transition: .3s;
      text-align: center;
      margin-top: 5vh;
      padding: 2vh 3vw; }
      .searchSeries .one-tv-series__button:hover {
        transform: scale(1.01) translateY(-10%);
        box-shadow: 0px 3px 5px 1px rgba(128, 128, 128, 0.699); }
  .searchSeries__form {
    text-align: center; }
  .searchSeries__input {
    width: 60vw;
    height: 7vh;
    color: #e0dcdc;
    background-color: rgba(0, 0, 0, 0.486);
    border: 2px solid #e0dcdc;
    font-family: "Acme";
    font-size: 1.2rem;
    border-radius: 20px;
    text-align: center;
    z-index: 1; }
  .searchSeries__input--light {
    background-color: transparent;
    border-color: #072031;
    color: #072031; }
  .searchSeries__button {
    width: 25vw;
    height: 7vh;
    color: #072031;
    font-family: "Acme";
    font-size: 1.1rem;
    border: 2px solid #072031;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    text-align: center;
    margin-left: -10vw;
    background-color: #e0dcdc; }
  .searchSeries__button--light {
    background-color: #072031;
    color: #e0dcdc; }
  .searchSeries__noResult {
    color: #910101;
    text-align: center;
    padding: 5vh 0;
    background-color: rgba(255, 255, 255, 0.7); }

.nav-main {
  position: absolute;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 5vh 10vw;
  background-color: transparent;
  margin: 0; }
  .nav-main__logo {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    color: #e0dcdc; }
  .nav-main__list {
    display: flex;
    list-style: none;
    margin: 0; }
  .nav-main__item {
    margin-left: 5vw; }
  .nav-main__link {
    text-decoration: none;
    color: #e0dcdc; }

.login,
.singup {
  min-height: 100vh;
  background: url("../../images/header.jpg") no-repeat center;
  background-size: cover;
  color: #e0dcdc;
  text-align: center;
  padding-right: 10vw;
  padding-left: 10vw; }
  .login__title,
  .singup__title {
    font-size: 2rem; }

.form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10vw;
  border-radius: 30px;
  margin-top: 5vh; }
  .form__label {
    display: block;
    margin: 4vh 0 2vh; }
  .form__button {
    width: 40vw;
    height: 7vh;
    color: #072031;
    font-family: "Acme";
    font-size: 1.1rem;
    border: 2px solid #072031;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    text-align: center;
    margin-top: 5vh;
    background-color: #e0dcdc; }
    .form__button:hover {
      transform: scale(1.01) translateY(-10%);
      box-shadow: 0px 3px 5px 1px rgba(128, 128, 128, 0.699); }
  .form__input {
    width: 60vw;
    height: 6vh;
    color: #e0dcdc;
    background-color: rgba(0, 0, 0, 0.486);
    border: 2px solid #e0dcdc;
    font-family: "Acme";
    font-size: 1.2rem;
    border-radius: 20px;
    text-align: center; }

.header--dark .nav-main {
  background-color: #072031; }

.profile .off {
  display: none; }

.profile .searchSeries__list-result {
  color: #072031; }

.profile .one-tv-series {
  position: relative;
  top: 0;
  margin-top: 10vh; }

.userSeries {
  padding: 0 10vw; }
  .userSeries .one-tv-series-small {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-bottom: 5vh;
    padding-right: 3vw;
    text-align: right; }
    .userSeries .one-tv-series-small:nth-child(odd) {
      background-color: #ddd; }
    .userSeries .one-tv-series-small__img-series {
      width: 35vw;
      grid-row: 1 / span 2;
      grid-column: 1 / span 1; }
    .userSeries .one-tv-series-small__title-series {
      font-size: 1.1rem;
      margin-top: 1vh; }
    .userSeries .one-tv-series-small__next {
      font-size: 0.9rem; }

/*# sourceMappingURL=style.css.map */