@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Acme", arial, sans-serif; }

section {
  padding: 5vh 5vw; }

ul {
  list-style: none; }

.header-main {
  min-height: 100vh;
  background: url("../../images/header.jpg") no-repeat center;
  background-size: cover; }
  .header-main .searchSeries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10vh 0; }
    .header-main .searchSeries__list-result {
      margin-top: 5vh;
      color: whitesmoke;
      margin-top: 5vh;
      overflow-y: scroll;
      height: 40vh;
      cursor: pointer;
      scrollbar-color: rgba(158, 194, 248, 0.534) rgba(0, 0, 0, 0.5);
      scrollbar-width: 7px; }
      .header-main .searchSeries__list-result::-webkit-scrollbar {
        background-color: transparent;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        width: 7px; }
      .header-main .searchSeries__list-result::-webkit-scrollbar-button {
        background-color: rgba(0, 0, 0, 0.5); }
      .header-main .searchSeries__list-result::-webkit-scrollbar-thumb {
        background-color: rgba(158, 194, 248, 0.3);
        opacity: 0.3; }
    .header-main .searchSeries__list-item {
      margin-bottom: 2vh; }
  .header-main .one-tv-series {
    position: absolute;
    top: 100vh;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header-main__title {
    color: transparent;
    text-align: center;
    padding: 0 5vw;
    animation: title 10s infinite; }
  .header-main__form {
    text-align: center; }
  .header-main__input {
    width: 60vw;
    height: 7vh;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.486);
    border: 2px solid whitesmoke;
    font-family: "Acme";
    font-size: 1.2rem;
    border-radius: 20px;
    text-align: center;
    z-index: 1; }
  .header-main__button {
    width: 25vw;
    height: 7vh;
    color: #022046;
    font-family: "Acme";
    font-size: 1.1rem;
    border: 2px solid #022046;
    border-radius: 20px;
    margin-left: -10vw; }

@keyframes title {
  0% {
    text-shadow: none; }
  6% {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px; }
  8% {
    text-shadow: none; }
  10% {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    transform: rotate(4deg);
    transform-origin: left; }
  12% {
    text-shadow: none; }
  14% {
    text-shadow: white 0px 3px 3px; }
  16% {
    text-shadow: none;
    transform: rotate(7deg);
    transform-origin: left; }
  18% {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px; }
  20% {
    text-shadow: white 0px 3px 3px;
    transform: rotate(4deg); }
  30% {
    transform: rotate(0deg); }
  100% {
    text-shadow: white 0px 0px 1px;
    transform: rotate(0deg); } }

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 5vh 10vw; }
  .nav-main__logo {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    color: whitesmoke; }
  .nav-main__list {
    display: flex;
    list-style: none;
    margin: 0; }
  .nav-main__item {
    margin-left: 5vw; }
  .nav-main__link {
    text-decoration: none;
    color: whitesmoke; }

/*# sourceMappingURL=style.css.map */