//lista seriali
.searchSeries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10vh 0;
  padding: 0 5vw;

  &__list-result {
    margin-top: 5vh;
    color: $light-color;
    overflow-y: scroll;
    max-height: 45vh;
    cursor: pointer;
    scrollbar-color: rgba(158, 194, 248, 0.534) rgba(0, 0, 0, 0.5);
    scrollbar-width: 7px;
    padding: 0;

    &::-webkit-scrollbar {
      background-color: transparent;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      width: 7px;
    }

    &::-webkit-scrollbar-button {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(158, 194, 248, 0.3);
      opacity: 0.3;
    }
  }

  &__list-item {
    margin-bottom: 2vh;
  }

  //opis jednego serialu

  .one-tv-series {
    position: absolute;
    margin: 0 5vw;
    padding-top: 10vh;
    top: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img-series {
      order: 1;
    }

    &__title-series {
      order: 3;
    }

    &__info-series {
      order: 4;
    }

    &__next {
      order: 5;
    }

    &__button {
      @include button(60vw, auto, $main-color, $main-color);
      margin-top: 5vh;
      padding: 2vh 3vw;
      order: 2;

      &:hover {
        @include button-hover;
      }
    }
  }

  &__form {
    text-align: center;
  }

  &__input {
    @include input(60vw, 7vh);
    z-index: 1;
  }

  &__input--light {
    background-color: transparent;
    border-color: $main-color;
    color: $main-color;
  }

  &__button {
    @include button(25vw, 7vh, $main-color, $main-color);
    margin-left: -10vw;
    background-color: $light-color;
  }

  &__button--light {
    background-color: $main-color;
    color: $light-color;
  }

  &__noResult {
    color: rgb(145, 1, 1);
    text-align: center;
    padding: 5vh 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
